@using WeChat.Model.DataBaseModel;
@model List<WX_Engineering>
@{
    Layout = "~/Views/Shared/_LayoutH5.cshtml";
    ViewBag.Title = "工程情况";
}

<section class="content-header">
    <h1>
        Data Tables
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 工程明细</a></li>
        <li><a href="#">工程明细</a></li>
        <li class="active">工程明细</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">工程明细</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>工程名称</th>
                                <th>施工单位</th>
                                <th>施工地点</th>
                                <th>施工状态</th>
                                <th>施工日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.EngineerName</td>
                                            <td>@item.ConstructCompanyName</td>
                                            <td>@item.ConstructAddress</td>
                                            <td>@item.ConstructState</td>
                                            <td>@item.ConstructDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                        </tr>
                                    }
                                }
                            }
                            @*<tr>
                                    <td>Trident</td>
                                    <td>
                                        Internet
                                        Explorer 4.0
                                    </td>
                                    <td>Win 95+</td>
                                    <td> 4</td>
                                    <td>X</td>
                                </tr>*@
                        </tbody>
                        @*<tfoot>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

